[submodule "third_party/cutlass"]
    path = third_party/cutlass
    url = https://github.com/NVIDIA/cutlass

[submodule "third_party/parallel-hashmap"]
 	path = third_party/parallel-hashmap
 	url = https://github.com/greg7mdp/parallel-hashmap.git
