/* Monospace font in "Package Reference" navigation */
.wy-menu-vertical > ul:nth-child(2) li.toctree-l1 > a {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

/* Monospace font in "Package Reference" titles */
#module-pyg_lib h1,
#module-pyg_lib\.ops h1,
#module-pyg_lib\.sampler h1 {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
  letter-spacing: -1px;
}
