name: Upload Index

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      release-type:
        required: true
        type: choice
        options:
          - final
          - nightly
        description: 'Either "final" or "nightly".'
  workflow_call:
    inputs:
      release-type:
        required: true
        type: string
        description: 'Either "final" or "nightly".'

concurrency:
  group: upload-index-${{ inputs.release-type }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  wheel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098  # v7.3.1
        with:
          python-version: '3.13'
          activate-environment: true

      - name: Install boto3
        run: uv pip install boto3

      - name: Upload index files (${{ inputs.release-type }})
        run: |
          python .github/workflows/aws/upload_${{ inputs.release-type }}_index.py
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
