name: Documentation

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:

jobs:

  make_html:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install PyTorch ${{ matrix.torch-version }}+cpu
        run: |
          pip install torch==${{ matrix.torch-version}}+cpu -f https://download.pytorch.org/whl/torch_stable.html

      - name: Install dependencies
        run: |
          pip install sphinx sphinx_rtd_theme

      - name: Install package
        run: |
          BUILD_DOCS=1 pip install -e .

      - name: Build documentation
        run: |
          cd docs && make clean && make html SPHINXOPTS="-W"  # Fail on warning.
