name: Minimal Installation

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:

jobs:

  import:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.9]
        torch-version: [1.11.0]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install PyTorch ${{ matrix.torch-version }}+cpu
        run: |
          pip install torch==${{ matrix.torch-version}}+cpu -f https://download.pytorch.org/whl/torch_stable.html
      - name: Configure
        run: |
          Torch_DIR=`python -c 'import torch;print(torch.utils.cmake_prefix_path)'` cmake -S . -B build -DCMAKE_BUILD_TYPE=DEBUG
      - name: Build
        run: |
          cmake --build build --config DEBUG
      - name: Test
        run: |
          cd build
          ctest -C DEBUG --output-on-failure --verbose
          cd ..

      - name: Install main package
        run: |
          pip install .

      - name: Test imports
        run: |
          python -c "import pyg_lib"
