name: Minimal Installation

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-${{ startsWith(github.ref, 'refs/pull/') || github.run_number }}  # yamllint disable-line
  # Only cancel intermediate builds if on a PR:
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}


jobs:

  import:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        cuda-version: ['cpu', 'cu126']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup packages
        uses: ./.github/actions/setup
        with:
          cuda-version: ${{ matrix.cuda-version }}

      - name: Install package
        run: |
          source ./.github/workflows/cuda/${{ runner.os }}-env.sh ${{ matrix.cuda-version }}
          pip install --no-build-isolation --verbose -e .
        shell: bash

      - name: Test imports
        run: |
          python -c 'import pyg_lib;print(pyg_lib.cuda_version())'
          python -c "import pyg_lib.ops"
          python -c "import pyg_lib.sampler"
