name: Python Testing

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:

jobs:

  pytest:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup packages
        uses: ./.github/actions/setup

      - name: Install package
        run: |
          pip install ninja wheel
          pip install --no-build-isolation --verbose ".[test]"

      - name: Print GLIBC dependency
        run: |
          objdump -T libpyg.so | grep GLIBC_

      - name: Run tests
        run: |
          pytest --cov --cov-report=xml
